*{
    margin: 0;
    padding: 0;
    
}
#navbar{

        width: 100%;
    background-color: black;
    margin: 0;
    height: 70px;

}

#navbar ul {
list-style-type: none;
}

#navbar ul li{
    float: right;
    width: 200px;
    border: 2px solid wheat;
    text-align: center;               
    display: block; /*  mean puran display la access zal pahoje             */
}

#navbar ul li a{
    color: aliceblue;
    text-decoration: none;
   line-height: 50px;
   display: block;
}

#navbar ul li :hover{
    background-color: aqua;
}

#navbar ul li a:hover{
    color: black;
}
#navbar ul li ul li{
    display: none;
    background-color: black;
}

#navbar ul li:hover ul li{
display: block;
}

h1{ padding-left: 48px;  
     padding-top: 24px;
    color: antiquewhite;
}

#ulid{
margin-top: -40px;
}
body{
    background-color: #413838;
}


/* Additional CSS for positioning and styling names and prices */
.allpic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .item {
    text-align: center;
    margin: 15px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .item p {
    margin: 10px 0;
    color: #333;
  }
  
  .images {
    max-width: 100%;
    height: 300px;
    width: 300px;
  }
  
  /* Apply styling to the footer */
  .ad {
    text-align: center;
    padding: 20px;
    background-color: #eee;
  }
  .item:hover{
    transform: scale(1.1); 
    background-color: blanchedalmond;
    cursor: pointer;
  }

  .allpic h2{
    padding-left: 50%;
    padding-right: 50%;
    border: 2px
 solid wheat;
    font-size: 39px;
    color: #eee;
  
    min-inline-size: max-content;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 11px;
    margin-bottom: 18px;
  }

  .allpic h2:hover{
    transform: scale(1.1); 
  }